RewriteEngine on

### Order Deny,Allow
### Deny from ALL

### AuthName "VOA Insights"
### AuthUserFile /home/insights/.htpasswd
### AuthType Basic
### Require valid-user
### AuthGroupFile /dev/null
### ALLOW FROM 152.75.
### ALLOW FROM LOCALHOST
### Satisfy Any

<Files ~ "\.(css|js|woff|ttf|png|jpg|jpeg)$">
    allow from all
</Files>


ErrorDocument 401 /insights/index.php?mode=403
ErrorDocument 403 /insights/index.php?mode=403
ErrorDocument 404 /insights/index.php?mode=404

RewriteRule admin/beats/ index.php?mode=admin&page=beats [QSA,NC]
RewriteRule admin/services/ index.php?mode=admin&page=services [QSA,NC]
RewriteRule admin/divisions/ index.php?mode=admin&page=divisions [QSA,NC]
RewriteRule admin/reporters/ index.php?mode=admin&page=reporters [QSA,NC]
RewriteRule admin/editors/ index.php?mode=admin&page=editors [QSA,NC]
RewriteRule admin/cameras/ index.php?mode=admin&page=cameras [QSA,NC]
RewriteRule admin/ index.php?mode=admin&page=admin [QSA,NC]

# RewriteRule access/ index.php?mode=access[QSA,NC]

# SetEnv example val
# SetEnvIf ?
