RewriteEngine on

# deny from all
# fixme: 403
# ErrorDocument 403 /insights/index.php?mode=403

ErrorDocument 404 /insights/index.php?mode=404


# RewriteRule access/ index.php?mode=access[QSA,NC]
# RewriteRule admin/beats/ index.php?mode=beats [QSA,NC]
# RewriteRule admin/services/ index.php?mode=services [QSA,NC]
# RewriteRule admin/divisions/ index.php?mode=divisions [QSA,NC]
# RewriteRule admin/reporters/ index.php?mode=reporters [QSA,NC]
# RewriteRule admin/editors/ index.php?mode=editors [QSA,NC]
# RewriteRule admin/ index.php?mode=admin [QSA,NC]

# SetEnv example val
# SetEnvIf ?
