h1 { font-size: 18px; color: gray }

.insights_show_by_menu .btn { margin-bottom: 0.5em; }

.insights_entry_count { color: silver; font-size:10px; }
.insights_entry_count:before { content: "("; }
.insights_entry_count:after { content: ")"; }
.insights_number_entries { font-size:12px; background-color: black; color: white }

.insights_grid_list_action { width:80px }

.insights_entries { }
.insights_entry { }
.insights_entry a { color: black }
.insights_slug { margin:0px; }
.insights_description { color: silver; font-size: 10px }

.insights_star_note { }
.insights_star_note_starred { color: darkorange }
.insights_star_note_empty { color: lightsteelblue }


.more_view {}
.more_view .insights_entries { line-height: 1.5em }


{*
.voa_insights_top { background-color: black !important }
.voa_insights_top a { color: white !important }
*}

.voa-insights-brand {
	background-image: url(img/voa-insights-50.png);
	background-repeat: no-repeat;
	padding-left: 120px;
	background-position: 0px -7px;
}

.left-most { width: 70px }
.right-most { text-align: right; width:200px }

/*
.datepicker-days .today { border:1px dashed blue }
.datepicker-days .active {
	background-color: inherit !important;
	background-image: inherit !important;
}
*/

.pseudo-active { border:1px dashed blue }

/* calendar */
.datepicker-days .disabled { color: silver }
.cal_legend { }
.cal_due { color: red}
.cal_started { color: green }
.day {
	border: 2px solid white;
	border-radius:0px !important;
}


#id_add_entry {
	background-color: rgb(230,230,230);
	/* box-shadow:0 0 1em rgb(230,230,230); */
	border: 1px solid gray;
	border-radius:1em;
	padding-top:1em;
	margin-bottom:1em;
	display: none;
}

.slug-preslug { }
.slug-preslug td { }
.td-preslug { width: 120px }

#entry_input_preslug, #input_preslug { width: 110px; }
#entry_input_slug { width: 100% }

textarea { resize:vertical }

.select2-container { border:0 }
.deletion_button { width:130px }
.container_add_insight { padding-right: 0px; padding-left: 0px }

/* time field fixes */
.select2-container .select2-choice { height:32px; }
.select2-chosen { margin-top: 3px; }

/* table */
.entry_field { font-size: 12px; }
.column_slug { }
.column_description { }
.column_deadline { }
.column_origin { }
.column_medium { }
.column_beat { }
.column_region { }
.column_reporter { }
.column_editor { }
.column_action { }


/* range helper */

.range { margin-bottom:10px }
.range td { text-align: center; font-size:12px; }
.range_active { background-color: cornflowerblue; color: white }

.insights_range { margin-bottom:1em }
.insights_range table td { text-align: center; font-size: 12px; }

.btn_range { text-align: center }
.btn_range_day { width:100px }
.btn_range_week { width:200px }
.btn_range_month { width:400px }

.btn_range_sm { text-align: center }
.btn_range_day_sm { width:75px }
.btn_range_week_sm { width:150px }
.btn_range_month_sm { width:200px }

.after_range { margin-bottom:20px }

#merge_body { height:200px; overflow-y:auto; }
.merge_table { width:100% }
.merge_table td { padding-left:4px; padding-right:4px }
.merge_row_selected { background-color: #FFC530 }

.hold_for_release { color: silver !important };


/* bugfix: hidden placeholders cut off */
#s2id_autogen3, #s2id_autogen4 { width: 300px !important; }

.grouped_entry { }
.grouped_entry_items { margin-left: 0px; padding-left: 0px; }
.grouped_entry_items li { }


.filter_container { }
.filter_container li { list-style: none; }
.filter_container label { cursor:pointer; }
.filter_reset { opacity: 0.3 }

/* admin - elasticsearch */
.btn-elasticsearch { }
.elasticsearch_status { }
.btn-elasticsearch .btn { width: 150px }
.elastic_batches { }
.elastic_batches .batch {
    border: 1px solid gray;
    border-radius: 13px;
    float: left;
    font-weight: bold;
    height: 22px;
    margin: 1px;
    text-align: center;
    width: 23px;
}
.batch_working { background-color: orange }
.batch_completed { background-color: limegreen }
.tbl_elasticsearch_status { width: 100%; }
.tbl_elasticsearch_status td { vertical-align: top }
#elasticsearch_query_textarea { width: 100%; height:200px; font-family: Courier New }
